.storybody .storyminortitle {
  font-size: 14px; font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #32348E;
}
.portlettitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; font-size: 12px;
  color: #FFFFFF; background-color: #32348E;
  padding: 3px; margin-bottom: 0px;

}

.rsslist H1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; font-size: 12px;
  color: #FFFFFF; background-color: #32348E;
  padding: 3px; margin-bottom: 0px;

}
.portlettitlesmall {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; font-size: 12px;
  color: #FFFFFF; background-color: #32348E;
  padding: 3px; margin-bottom: 0px;
}

.pagetitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; font-size: 12px;
  color: #FFFFFF; background-color: #32348E;
  padding-top: 2px; padding-bottom: 2px; padding-left: 5px;
  margin-bottom: 10px;
TEXT-TRANSFORM: uppercase;
}

.storybody .storycategory
{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: #32348E;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    margin-bottom: 10px;
}